<section class="section section-customers">
    <div class="container customers-say">
        <div class="customer-wrap">
            <div class="title-block">
                <h2 class="h2-title customer-title">What our Customers Say</h2>
                <p class="subtitle">
                    Don't just take our word for it - see what our satisfied customers
                    have to say
                </p>
            </div>
            <ul class="customer-list list">
                <div class="customers-box-wrap">
                    <div class="stars">
                        <ul class="stars-list list">
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                    <div class="customers-box">
                        <li class="customer-item">
                            <p class="customer-text">
                                “The Best app I have used to order food in a while, so many
                                options to choose from too, I would recommend to a freind,
                                No questions asked”
                            </p>
                            <div class="customer-card">
                                <img src="./img/Ellipse 9.jpg" alt="Sumith Shah" width="48" height="48" />
                                <div class="customer-card-description">
                                    <h3>Sumith Shah</h3>
                                    <p>Some Dude</p>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="customers-box-wrap">
                    <div class="stars">
                        <ul class="stars-list list">
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                            <li class="star">
                                <svg class="stars-icon" width="17px" height="16">
                                    <use href="./img/sprite-left-right.svg#yellow-star"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                    <div class="customers-box">
                        <li class="customer-item">
                            <p class="customer-text">
                                “The ease with which I can just go in and order what i want
                                was amazing, It has been a very pleasant experience ordering
                                from this app”
                            </p>
                            <div class="customer-card">
                                <img src="./img/Ellipse 10.jpg" alt="Sumith Shah" width="48" height="48" />
                                <div class="customer-card-description">
                                    <h3>Sumith Shah</h3>
                                    <p>Some Dude</p>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    </div>
</section>