<section class="section section--favorites">
  <div class="container">
    <h2 class="h2-title">Some of Our Favorites</h2>
    <p class="subtitle">Looking for something delicious?</p>
    <ul class="favorites">
      <li class="favorites__item">
        <a href="#" class="link">
          <img
            srcset="./img/gamburger.jpg 1x, ./img/gamburger@2x.jpg 2x"
            src="./img/gamburger.jpg"
            alt="gamburger"
            width="315"
            height="315"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="link">
          <img
            srcset="./img/Pasta.jpg 1x, ./img/Pasta@2x.jpg 2x"
            src="./img/Pasta.jpg"
            alt="pasta"
            width="315"
            height="315"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="link">
          <img
            srcset="./img/pizza.jpg 1x, ./img/pizza@2x.jpg 2x"
            src="./img/pizza.jpg"
            alt="pizza"
            width="315"
            height="315"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="link">
          <img
            srcset="./img/chicken.jpg 1x, ./img/chicken@2x.jpg 2x"
            src="./img/chicken.jpg"
            alt="chicken"
            width="315"
            height="315"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="link">
          <img
            srcset="./img/salat.jpg 1x, ./img/salat@2x.jpg 2x"
            src="./img/salat.jpg"
            alt="salat"
            width="315"
            height="315"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="link">
          <img
            srcset="./img/borshch.jpg 1x, ./img/borshch@2x.jpg 2x"
            src="./img/borshch.jpg"
            alt="borshch"
            width="315"
            height="315"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
