 <footer class="footer">
    <div class="container footer-conteiner">
      <span class="first-flex">
        <nav class="footer-nav">
          <a href=""><img src="./img/Vector.svg" alt="logo" width="66" height="52" /></a>
          <ul class="list list-flex">
            <li class=""><a class="link footer-link" href="">Home</a></li>
            <li class=""><a class="link footer-link" href="">About</a></li>
            <li class=""><a class="link footer-link" href="">Service</a></li>
            <li class=""><a class="link footer-link" href="">Menu</a></li>
            <li class=""><a class="link footer-link" href="">Contact</a></li>
          </ul>
        </nav>
        <div>
          <ul class="list policy-flex policy-link">
            <li><a class="policy-link" href="">Privacy Policy</a></li>
            <li><a class="policy-link" href="">Terms of Service</a></li>
            <li><a class="policy-link" href="">Cookies Settings</a></li>
          </ul>
        </div>
      </span>
      <span class="second-flex"></span>
      <form>
        <label for="foot-form" class="footer-label">Subscribe</label>
        <input class="footer-input" id="foot-form" type="text" placeholder="Enter your email">
        <button type="submit" class="footer-bottom">Subscribe</button>
        <p class="input-policy">By subscribing you agree to with our <a class="privacy-policy" href="" alt="">Privacy
            Policy</a></p>
        <p class="reserved">2022 FoodSta. All right reserved.</p>
      </form>
      </span>
    </div>
  </footer>