<section class="hero-section">
    <div class="hero-container container">
      <div class="hero-content">
        <h1 class="hero-title h1-title">
          Enjoy Your Favorite Food From Anywhere
        </h1>
        <p class="hero-text">
          With just a few clicks, you can have your favorite meals delivered
          straight to your doorstep, no matter where you are. Order now and
          enjoy a hassle-free and delicious meal from the comfort of your own
          home.
        </p>
        <button class="hero-button">Order Now</button>
      </div>

         <!-- <div class="hero-photos-wrap">
         <img class="hero-photos" src="./img/Foto-1.jpg" alt="Food" width="528" height="528" />
      </div>  -->

      <div class="hero-slider autoplay">
        <div class="hero-slider-item">
          <picture>

            <source srcset="./img/Foto-1.jpg 1x, ./img/hero-photo1@2x.jpg 2x" media="(min-width: 1280px)" >
            <source srcset="./img/hero-photo1-tab.jpg 1x./img/hero-photo1-tab@2x.jpg 2x" media="(min-width: 768px)">

            <img class="hero-slider-photo" src="./img/Foto-1.jpg" alt="Food" width="528" height="528"> 
          </picture>
          
        </div>
        <div class="hero-slider-item">
          <picture>
            <source srcset="./img/hero-photo2.jpg 1x, ./img/hero-photo2@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset=" ./img/hero-photo2-tab.jpg 1x, ./img/hero-photo2-tab@2x.jpg 2x" media="(min-width: 768px)">

            <img class="hero-slider-photo" src="./img/hero-photo2.jpg" alt="Food" width="528"
            height="528">
          </picture>
        </div>
        <div class="hero-slider-item">
          <picture>
            <source srcset="./img/hero-photo3.jpg 1x, ./img/hero-photo3@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="./img/hero-photo3-tab.jpg 1x, ./img/hero-photo3-tab@2x.jpg 2x" media="(min-width: 768px)">
          <img class="hero-slider-photo" src="./img/hero-photo3.jpg" alt="Food" width="528"
            height="528">
          </picture>
        </div>

      </div>
    </div>
  </section>