<section class="hero-section">
    <div class="hero-container container">
      <div class="hero-content">
        <h1 class="hero-title title">
          Enjoy Your Favorite Food From Anywhere
        </h1>
        <p class="hero-text">
          With just a few clicks, you can have your favorite meals delivered
          straight to your doorstep, no matter where you are. Order now and
          enjoy a hassle-free and delicious meal from the comfort of your own
          home.
        </p>
        <button class="hero-button">Order Now</button>
      </div>

      <!-- <div class="hero-photos-wrap">
        <img class="hero-photos" src="./img/Foto-1.jpg" alt="Food" width="528" height="528" />
      </div> -->

      <div class="hero-slider autoplay">
        <div class="hero-slider-item">
          <img class="hero-slider-photo" src="./img/Foto-1.jpg" alt="Food" width="528" height="528">
        </div>
        <div class="hero-slider-item"><img class="hero-slider-photo" src="./img/hero-photo2.jpg" alt="Food" width="528"
            height="528"></div>
        <div class="hero-slider-item"><img class="hero-slider-photo" src="./img/hero-photo3.jpg" alt="Food" width="528"
            height="528"></div>

      </div>
    </div>
  </section>