.hero-container {
  box-sizing: border-box;
  max-width: 312px;
  padding-top: 60px;
  padding-bottom: 50px;
  font-style: normal;
}

.hero-title {
  display: block;
  width: 280px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.18;
  margin-bottom: 28px;
}

.hero-slider {
  display: none;
}
.hero-photos-wrap {
  display: none;
}

.hero-text {
 font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 32px;
} 
.hero-button {
  display: inline-block;
  min-width: 98px;
  min-height: 32px;
  padding: 6px 18px;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--all-text-color);
  background-color: var(--button-green);
  cursor: pointer;
  border: transparent;
  border-radius: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #ffe450;
}

@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;

    max-width: 736px;
    padding-top: 60px;
    padding-bottom: 73px;
  }

 

  /* .hero-photos-wrap {
    position: absolute;
    right: 0px;
    bottom: 0px;



    display: flex;
    width: 336px;
    height: 320px;
    background-color: #ffe450;
 

    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  } */

  .hero-title {
  width: 537px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
  }
  .hero-text {
    width: 336px;
    font-size: 16px;
line-height: 1.5;
    margin-bottom: 37px;
  }
  .hero-slider {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    width: 336px;
    height: 320px;
    background-image: url(../img/Ellipse-tab.png);
    background-size: 100%;
   
   
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .hero-slider-item{
    margin: 0px;
  }
  .hero-slider-photo {
    position: relative;
    left: -2px; 
    top: 8px;
    border-radius: 50%;
    width: 292px;
    margin: auto;
    
  }
   
  
  .slick-prev {
    z-index: 100;
  display: block;
  left: -10px;
  width: 28px;
  height: 34px;
  border: none;
  /* padding: 5px 13px; */
  background-color: var(--white);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-image: url(../img/left.svg); 
  background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center;
  }
  .slick-prev:hover, .slick-prev:hover
   { 
  background-image: url(../img/left-color.svg);
  background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center; 
  background-color: var(--white); }
  
  .slick-prev:active {
    background-image: url(../img/left.svg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  
  .slick-next {
    display: block;
  right: -10px;
  
  width: 28px;
  height: 34px;
  border: none;
  
  background-color: var(--white);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-image: url(../img/right.svg); 
  background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center;
  }
  .slick-next:hover, .slick-next:focus
   { 
     background-image: url(../img/right-color.svg);
     background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center; 
  background-color: var(--white); 
  }
  
  .slick-next:active {
    background-image: url(../img/right.svg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  
  .slick-prev:before, .slick-next:before {
  display: block;
  content: "";
  
  }

  
}

@media screen and (min-width: 1280px){
  .hero-container {
    width: 1280px;
    padding-top: 159px;
    padding-bottom: 164px;
}
.hero-content{
  width: 511px;
}
.hero-title {

width: 100%;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-text {
  width: 100%;
  font-size: 15px;
  line-height: 1.50;
  margin-bottom: 46px;
}

.hero-slider {
  width: 580px;
  height: 580px;
  background-image: url(../img/Ellipse11.png);
}


.hero-slider-photo {
  top:-2px;
  width: 528px;
}
 

.slick-prev {
left: -10px;
width: 40px;
height: 48px;
background-size: 16px 29px;

}
.slick-prev:hover, .slick-prev:hover
 { 

background-size: 16px 29px;}



.slick-next {
right: -10px;
width: 40px;
height: 48px;
background-size: 16px 29px;

}
.slick-next:hover, .slick-next:focus
 { background-size: 16px 29px;}
}

  