/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./offerings.css');
@import url('./favorites.css');
@import url('./customers-say.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  --all-text-color: #2c2c2c;
  --yellow-main: #ffe550;
  --button-green: #bbf330;
  --darck-green: #7eb101;
  --white: #fefefe;

  --shadow-fruit: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--all-text-color);
  background-color: white;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: var(--all-text-color);
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: var(--all-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
